<div class="row" style="margin-bottom: 1em; margin-top: 1em;">
			<div class="col s12">
				<div id="index-banner">
					<div class="section no-pad-bot">
						<div class="container">
							<h1 class="header center black-text text-lighten-1">Quik Auto Sales</h1>
							<div class="row center">
								<h5 class="header col s12 light">The best deal in town.</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

  	<div class="section">

			<div class="row grey lighten-3 z-depth-1">
				<div class="col m9 hide-on-med-and-down" style="padding: 0;">
					<div class="slider ">
						<ul class="slides">
							<li>
								<img src="http://i.istockimg.com/file_thumbview_approve/73683729/6/stock-photo-73683729-african-american-car-salesperson-talking-with-his-customers-.jpg"> <!-- random image -->
								<div class="caption center-align black-text">
									<h3>This is our big Tagline!</h3>
									<h5 class="light black-text">Here's our small slogan.</h5>
								</div>
							</li>
							<li>
								<img src="http://i.istockimg.com/file_thumbview_approve/58653654/6/stock-photo-58653654-couple-communicating-with-car-sales-person-.jpg"> <!-- random image -->
								<div class="caption left-align black-text">
									<h3>Left Aligned Caption</h3>
									<h5 class="light black-text">Here's our small slogan.</h5>
								</div>
							</li>
							<li>
								<img src="http://i.istockimg.com/file_thumbview_approve/68825775/6/stock-photo-68825775-dealer-new-cars-stock.jpg"> <!-- random image -->
								<div class="caption right-align black-text">
									<h3>Right Aligned Caption</h3>
									<h5 class="light black-text">Here's our small slogan.</h5>
								</div>
							</li>
							<li>
								<img src="http://i.istockimg.com/file_thumbview_approve/47748932/6/stock-photo-47748932-young-couple-celebrating-purchase-of-car-in-showroom.jpg"> <!-- random image -->
								<div class="caption center-align black-text">
									<h3>This is our big Tagline!</h3>
									<h5 class="light black-text">Here's our small slogan.</h5>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col s12 m12 l3 center-align">
					<h5 class="hide-on-med-and-down">Quik</h5>
					<img src="http://i.istockimg.com/file_thumbview_approve/61918236/6/stock-photo-61918236-smiling-couple-signing-a-contract.jpg" style="width: 100%;">
					<h6>Phone: 480-699-3551</h6>
					<h6>Fax: 480-625-0420</h6>
					<h6>
						Address: 1950 S Mesa Dr.
						<br>
						Mesa AZ 85210
					</h6>
					<a href="contact.html" class="center waves-effect waves-light btn white-text red darken-1">Contact Us Today!</a>
				</div>
			</div>

			<div class="row">
				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center"><i class="material-icons" style="font-size: 1.66em;">directions_car</i></h2>
						<h5 class="center">Inventory</h5>
						<br />
						<p class="center">
							Search our selection of the best pre-owned vehicles in town. We have exactly what you are looking for and want to get you in your new pre-owned vehicle today!
							<br><br>
							<a href="inventory.html" class="waves-effect waves-light btn white-text red darken-1">Search Now</a>
						</p>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center"><i class="material-icons" style="font-size: 1.66em;">$</i></h2>
						<h5 class="center">Finance</h5>
						<br />
						<p class="center">
							Let our expert team of professional salesmen guide you through the financing process, see how easy our loan process is today!
							<br><br>
							<a href="financing.html" class="waves-effect waves-light btn white-text red darken-1">Get Financed</a>
						</p>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center"><i class="material-icons" style="font-size: 1.66em;">local_phone</i></h2>
						<h5 class="center">Contact Info</h5>
						<br />
						<p class="center">
							We at Quik Auto Sales love to hear from our valued customers, get in contact with us today and let us know how we can help you!
							<br><br>
							<a href="contact.html" class="center waves-effect waves-light btn white-text red darken-1">Contact US</a>
						</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col s12">
					<div class="section no-pad-bot">
						<div class="container">
							<h2 class="header center black-text text-lighten-1" style="margin-top: 0;">Featured Cars</h2>
						</div>
					</div>
				</div>
			</div>

			<div class="row" style="margin-top: 1.8em">
				<div class="col s12 m6 l3" >
					<div class="card hoverable grey lighten-3">
						<div class="card-image">
							<img src="http://i.istockimg.com/file_thumbview_approve/19659186/6/stock-photo-19659186-suv-car-in-studio-isolated-on-white.jpg" style="height: 210px;">
							<span class="card-title">Featured Car</span>
						</div>
						<div class="card-content">
							<p>I am a very simple card. I am good at containing small bits of information.
							I am convenient because I require little markup to use effectively.</p>
						</div>
						<div class="card-action">
							<a href="#" class="center waves-effect waves-light btn white-text red darken-1">Buy</a>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l3" >
					<div class="card hoverable grey lighten-3">
						<div class="card-image">
							<img src="http://i.istockimg.com/file_thumbview_approve/22960889/6/stock-photo-22960889-suv-car-driving-forest-road-clipping-path-included.jpg" style="height: 210px;">
							<span class="card-title">Featured Car</span>
						</div>
						<div class="card-content">
							<p>I am a very simple card. I am good at containing small bits of information.
							I am convenient because I require little markup to use effectively.</p>
						</div>
						<div class="card-action">
							<a href="#" class="center waves-effect waves-light btn white-text red darken-1">Buy</a>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l3" >
					<div class="card hoverable grey lighten-3">
						<div class="card-image">
							<img src="http://i.istockimg.com/file_thumbview_approve/6960181/6/stock-photo-6960181-model-t-car.jpg" style="height: 210px;">
							<span class="card-title">Featured Car</span>
						</div>
						<div class="card-content">
							<p>I am a very simple card. I am good at containing small bits of information.
							I am convenient because I require little markup to use effectively.</p>
						</div>
						<div class="card-action">
							<a href="#" class="center waves-effect waves-light btn white-text red darken-1">Buy</a>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l3" >
					<div class="card hoverable grey lighten-3">
						<div class="card-image">
							<img src="http://i.istockimg.com/file_thumbview_approve/15714225/6/stock-photo-15714225-cadillac-cts-coupe.jpg" style="height: 210px;">
							<span class="card-title">Featured Car</span>
						</div>
						<div class="card-content">
							<p>I am a very simple card. I am good at containing small bits of information.
							I am convenient because I require little markup to use effectively.</p>
						</div>
						<div class="card-action">
							<a href="#" class="center waves-effect waves-light btn white-text red darken-1">Buy</a>
						</div>
					</div>
				</div>
			</div>
		</div>
    <script>
        $(document).ready(function(){
          $('.slider').slider({full_width: true, indicators: false});
        });
    </script>
