<div class="row" style="margin: 1.5em 0; padding: 0;">
  <div class="col s12 search-crumbs">
    <!-- search crumbs -->
    <b>Showing:</b>
    <% if (!params[:make] && !params[:model]) %>
      All vehicles
    <% elsif (params[:make] && !params[:model]) %>
      Vehicles by <%= params[:make] %>
    <% elsif (params[:make] && params[:model]) %>
      <%= params[:model] %> by <%= params[:make] %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="row" style="margin: 1.8em 0">
    <% @cars.each do |car| %>
      <%= render :partial => 'products/car', :locals => {:car => car, :full_card => false} %>
    <% end %>
  </div>
</div>
