<div class="section">
				<div class="row" style="margin-bottom: 0em;">
					<div class="col s12 l12">
						<h2 class="center">Contact</h2>
					</div>
				</div>

				<div class="row" style="margin-top: .3em;">
					<div class="col s12 m4">
						<div class="icon-block">
							<h2 class="center"><i class="material-icons" style="font-size: 1.5em;">group</i></h2>
							<h5 class="center">Contact Us!</h5>
							<br>
							<p class="center">
								<h5 class="center">
									Thank you for your interest in Quik Auto sales, have any questions or comments? We at Quik Auto Sales love to hear from our valued customers!
									Come on down to our store, give us a call, or fill out the form below to get in contact with us today!
							  </h5>
							</p>
						</div>
					</div>

					<div class="col s6 m4">
						<div class="icon-block">
							<h2 class="center"><i class="material-icons" style="font-size: 1.5em;">local_phone</i></h2>
							<h5 class="center">Phone</h5>
							<br />
							<p class="center">
								<h5 class="center"><a href="tel:+14806993551">Ph: (480) 699-3551</a></h5>
								<h5 class="center"><a href="tel:+14802628275">Ph: (480) 262-8275</a></h5>
								<h5 class="center"><a href="fax:+4806250420">Fax: (480) 625-0420</a></h5>
							</p>
						</div>
					</div>

					<div class="col s6 m4">
						<div class="icon-block">
							<h2 class="center"><i class="material-icons" style="font-size: 1.5em;">directions</i></h2>
							<h5 class="center">Address</h5>
							<br>
							<p class="center">
								<a href="http://maps.google.com/?q=1950%20S%20Mesa%20Dr.%20Mesa%20AZ%2085210">
                  <h5 class="center">1950 S Mesa Dr.</h5>
								  <h5 class="center">Mesa, AZ 85210</h5>
                </a>
							</p>
						</div>
					</div>
				</div>


				<div class="row" style="margin-top: 3.1em;">
					<form class="col s12" method="post" action="/contact/new">
						<input type="hidden" name="contact[form]" value="Contact Form">

						<div class="card hoverable grey lighten-3">

							<div class="card-content">
				        <div class="row">
								  <span class="card-title red-text darken-1">
									  <h4><!--Contact Us--></h4>
									</span>
							  <div class="input-field col s12 m6 l6">
								  <input id="first_name" type="text" name="contact[first_name]" class="validate">
								  <label for="first_name">First Name</label>
							  </div>
							  <div class="input-field col s12 m6 l6">
								  <input id="last_name" type="text" name="contact[last_name]" class="validate">
								  <label for="last_name">Last Name</label>
							  </div>
						  </div>

						  <div class="row">
							  <div class="input-field col s12 m6 l6">
								  <input id="address" type="text" name="contact[address]" class="validate">
							  	<label for="address">Address</label>
							  </div>
							  <div class="input-field col s12 m6 l6">
									<input id="city" type="text" name="contact[city]" class="validate">
 									<label for="city">City</label>
  							</div>
	  					</div>

		  				<div class="row">
			  				<div class="input-field col s12 m6 l6">
				  				<input id="state" type="text" name="contact[state]" class="validate">
					  			<label for="state">State</label>
						  	</div>
							  <div class="input-field col s12 m6 l6">
								  <input id="zip" type="number" name="contact[zip]" class="validate">
								  <label for="zip">Zip</label>
							  </div>
						  </div>
			  			<div class="row">
		  					<div class="input-field col s12 m6 l6">
	  							<input id="phone" type="tel" name="contact[phone]" class="validate">
  									<label for="phone">Phone</label>
									</div>
									<div class="input-field col s12 m6 l6">
										<input id="email" type="email" name="contact[email]" class="validate">
										<label for="email">Email</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12 m12">
										<textarea id="comments" type="materialize-textarea" name="contact[comments]"></textarea>
										<label for="comments" style="padding-bottom: .5em; padding-left: .3em;">Comments</label>
									</div>
								</div>
								<div class="row">
									<div class="col s12 m12 center">
										<button class="btn waves-effect waves-light red darken-1" type="submit" name="action">Send
											<i class="material-icons right">send</i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>



			</div>
<script>
// if we have an 'interest' put it through
$('input').ready(function(){
  if (location.hash) {
    car = location.hash.substr(1);
    var inp = document.createElement('input');
    inp.type = "hidden";
    inp.name = "contact[interested_in]";
    inp.value = car;
    document.forms[0].appendChild(inp);
  }
});
</script>
